/* GENERAL */
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* COLOR */
/* HEADING */
.heading {
  width: 100%;
  text-align: center;
  background-color: #579c87;
  padding-top: 40px;
  padding-bottom: 40px;
}
.heading__title {
  margin: 0;
  color: #fdcb46;
  font-size: 3em;
  font-family: "Montserrat", sans-serif;
}

/* MAIN CONTAINER */
.main-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}
.main-container__heading {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #646464;
  font-size: 1.5em;
  padding-top: 40px;
}
.main-container__menu-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 5px 5px #d8d0d0;
  width: 1100px;
  padding: 50px 50px 50px 50px;
  align-content: center;
  margin-bottom: 140px;
}
.main-container__menu-card--1 {
  background-color: #fcdfdb;
}
.main-container__menu-card--2 {
  background-color: #fff5fe;
}
.main-container__menu-card--3 {
  background-color: #edefef;
}
.main-container__menu-card--4 {
  background-color: #fdfffd;
}
.main-container__menu-card__menu-heading {
  margin: auto;
  text-align: center;
}
.main-container__menu-card__menu-heading--2 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.main-container__menu-card__menu-heading__image {
  height: 100px;
}
.main-container__menu-card__menu-heading__title {
  font-size: 3.5em;
  margin: 0;
  padding-top: 30px;
}
.main-container__menu-card__menu-heading__title--1 {
  color: #694145;
  font-family: "Devonshire", cursive;
}
.main-container__menu-card__menu-heading__title--2 {
  color: #db8427;
  background: linear-gradient(90deg, #db8427 0%, #925efd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Lobster Two", cursive;
}
.main-container__menu-card__menu-heading__title--3 {
  color: #092ddc;
  background: linear-gradient(90deg, #092ddc 0%, #57adfa 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 10px;
  font-family: "Satisfy", cursive;
  font-size: 5em;
  padding-top: 70px;
  padding-bottom: 70px;
}
.main-container__menu-card__menu-heading__title--4 {
  color: #6cb754;
  background: linear-gradient(90deg, #6cb754 0%, #c5fe8e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 10px;
  font-family: "Kaushan Script", cursive;
  font-size: 5em;
  padding-top: 70px;
  padding-bottom: 70px;
}
.main-container__menu-card__menu-list--1 {
  font-family: "Kalam", cursive;
  color: #694145;
  margin: 0px 70px 0px 70px;
}
.main-container__menu-card__menu-list--2 {
  font-family: "Merriweather", serif;
  color: #c77412;
}
.main-container__menu-card__menu-list--3 {
  font-family: "Delius", cursive;
}
.main-container__menu-card__menu-list--4 {
  font-family: "Delius", cursive;
}
.main-container__menu-card__menu-list__subtitle {
  font-size: 2em;
  margin: 0;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
}
.main-container__menu-card__menu-list__subtitle:after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: solid 3px;
  transform: scaleX(0);
  transition: 500ms;
  transform-origin: left;
}
.main-container__menu-card__menu-list__subtitle:hover:after {
  transform: scaleX(1);
}
.main-container__menu-card__menu-list__subtitle--2 {
  font-size: 1.5em;
}
.main-container__menu-card__menu-list__subtitle--3 {
  font-size: 1.5em;
}
.main-container__menu-card__menu-list__subtitle--4 {
  font-size: 1.5em;
}
.main-container__menu-card__menu-list__group {
  padding-bottom: 70px;
}
.main-container__menu-card__menu-list__group--entree2 {
  padding-bottom: 60px;
}
.main-container__menu-card__menu-list__group--maindish2 {
  color: #a56799;
  padding-bottom: 60px;
}
.main-container__menu-card__menu-list__group--sweets2 {
  color: #7251cd;
  padding-bottom: 200px;
}
.main-container__menu-card__menu-list__group--entree3 {
  padding-bottom: 60px;
}
.main-container__menu-card__menu-list__group--maindish3 {
  padding-bottom: 60px;
}
.main-container__menu-card__menu-list__group--sweets3 {
  padding-bottom: 200px;
}
.main-container__menu-card__menu-list__group--entree4 {
  padding-bottom: 60px;
}
.main-container__menu-card__menu-list__group--maindish4 {
  padding-bottom: 60px;
}
.main-container__menu-card__menu-list__group--sweets4 {
  padding-bottom: 200px;
}
.main-container__menu-card__menu-list .subtitle-border {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main-container__menu-card__menu-list .subtitle-border img {
  padding-top: 15px;
}
.main-container__menu-card__menu-list__dish {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3em;
}
.main-container__menu-card__menu-list__dish--2 {
  font-size: 1.2em;
  margin: 0px 100px 0px 100px;
}
.main-container__menu-card__menu-list__dish--3 {
  font-size: 1.2em;
  margin: 0px 100px 0px 100px;
}
.main-container__menu-card__menu-list__dish--4 {
  font-size: 1.2em;
  margin: 0px 100px 0px 100px;
}
.main-container__menu-card__menu-list .price {
  font-weight: bold;
}
.main-container__menu-card .note {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-container__menu-card .note__heading {
  color: #694145;
  font-family: "Devonshire", cursive;
  font-size: 2.8em;
}
.main-container__menu-card .note__image {
  height: 60px;
  margin-top: 75px;
  margin-right: 30px;
}

footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #579c87;
  padding: 30px 20px 30px 20px;
  color: #fdcb46;
  font-size: 1.2em;
  font-weight: bold;
  position: sticky;
  bottom: 0;
  font-family: "Montserrat", sans-serif;
}
footer .wiggle {
  transition: transform;
}
footer .wiggle:hover {
  animation: wiggle 1s;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(2deg);
  }
  20% {
    transform: rotate(-2deg);
  }
  30% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(-2deg);
  }
  70% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(0deg);
  }
}

/*# sourceMappingURL=style2.css.map */
