/* GENERAL */
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* COLOR */
/* HEADING */
.heading {
  width: 100%;
  text-align: center;
  background-color: #579c87;
  padding-top: 40px;
  padding-bottom: 40px;
}
.heading__title {
  margin: 0;
  color: #fdcb46;
  font-size: 3em;
  font-family: "Montserrat", sans-serif;
}

/* MAIN CONTAINER */
.main-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}
.main-container__heading {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #646464;
  font-size: 1.5em;
  padding-top: 40px;
}
.main-container__menu-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 5px 5px #d8d0d0;
  width: 1100px;
  padding: 50px 50px 50px 50px;
  align-content: center;
  margin-bottom: 140px;
}
.main-container__menu-card--1 {
  background-color: #fcdfdb;
}
.main-container__menu-card--2 {
  background-color: #fff5fe;
}
.main-container__menu-card--3 {
  background-color: #edefef;
}
.main-container__menu-card--4 {
  background-color: #fdfffd;
}
.main-container__menu-card__menu-heading {
  margin: auto;
  text-align: center;
}
.main-container__menu-card__menu-heading--2 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.main-container__menu-card__menu-heading #icone-top {
  font-size: 6em;
  color: #f05160;
  background: linear-gradient(90deg, #f05160 0%, #f6916a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-container__menu-card__menu-heading__title {
  font-size: 3.5em;
  margin: 0;
  padding-top: 30px;
}
.main-container__menu-card__menu-heading__title--1 {
  color: #694145;
  font-family: "Devonshire", cursive;
}
.main-container__menu-card__menu-heading__title--2 {
  color: #db8427;
  background: linear-gradient(90deg, #db8427 0%, #925efd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Lobster Two", cursive;
}
.main-container__menu-card__menu-heading__title--3 {
  color: #092ddc;
  background: linear-gradient(90deg, #092ddc 0%, #57adfa 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 10px;
  font-family: "Satisfy", cursive;
  font-size: 5em;
  padding-top: 70px;
  padding-bottom: 70px;
}
.main-container__menu-card__menu-heading__title--4 {
  color: #6cb754;
  background: linear-gradient(90deg, #6cb754 0%, #c5fe8e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 10px;
  font-family: "Kaushan Script", cursive;
  font-size: 5em;
  padding-top: 70px;
  padding-bottom: 70px;
}
.main-container__menu-card__menu-list--1 {
  font-family: "Kalam", cursive;
  color: #694145;
  margin: 0px 70px 0px 70px;
}
.main-container__menu-card__menu-list--2 {
  font-family: "Merriweather", serif;
  color: #c77412;
}
.main-container__menu-card__menu-list--3 {
  font-family: "Delius", cursive;
}
.main-container__menu-card__menu-list--4 {
  font-family: "Delius", cursive;
}
.main-container__menu-card__menu-list__subtitle {
  font-size: 2em;
  margin: 0;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
}
.main-container__menu-card__menu-list__subtitle:after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: solid 3px;
  transform: scaleX(0);
  transition: 500ms;
  transform-origin: left;
}
.main-container__menu-card__menu-list__subtitle:hover:after {
  transform: scaleX(1);
}
.main-container__menu-card__menu-list__subtitle--2 {
  font-size: 1.5em;
}
.main-container__menu-card__menu-list__subtitle--3 {
  font-size: 1.5em;
}
.main-container__menu-card__menu-list__subtitle--4 {
  font-size: 1.5em;
}
.main-container__menu-card__menu-list__group {
  padding-bottom: 70px;
}
.main-container__menu-card__menu-list__group--entree2 {
  padding-bottom: 60px;
}
.main-container__menu-card__menu-list__group--maindish2 {
  color: #a56799;
  padding-bottom: 60px;
}
.main-container__menu-card__menu-list__group--sweets2 {
  color: #7251cd;
  padding-bottom: 200px;
}
.main-container__menu-card__menu-list__group--entree3 {
  padding-bottom: 60px;
}
.main-container__menu-card__menu-list__group--maindish3 {
  padding-bottom: 60px;
}
.main-container__menu-card__menu-list__group--sweets3 {
  padding-bottom: 200px;
}
.main-container__menu-card__menu-list__group--entree4 {
  padding-bottom: 60px;
}
.main-container__menu-card__menu-list__group--maindish4 {
  padding-bottom: 60px;
}
.main-container__menu-card__menu-list__group--sweets4 {
  padding-bottom: 200px;
}
.main-container__menu-card__menu-list .subtitle-border {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main-container__menu-card__menu-list .subtitle-border img {
  padding-top: 15px;
}
.main-container__menu-card__menu-list__dish {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3em;
}
.main-container__menu-card__menu-list__dish--2 {
  font-size: 1.2em;
  margin: 0px 100px 0px 100px;
}
.main-container__menu-card__menu-list__dish--3 {
  font-size: 1.2em;
  margin: 0px 100px 0px 100px;
}
.main-container__menu-card__menu-list__dish--4 {
  font-size: 1.2em;
  margin: 0px 100px 0px 100px;
}
.main-container__menu-card__menu-list .price {
  font-weight: bold;
}
.main-container__menu-card .note {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-container__menu-card .note__heading {
  color: #694145;
  font-family: "Devonshire", cursive;
  font-size: 2.8em;
}
.main-container__menu-card .note #icone-bottom {
  margin-top: 75px;
  margin-right: 25px;
  font-size: 3.5em;
  color: #f05160;
  background: linear-gradient(90deg, #f05160 0%, #f6916a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #579c87;
  padding: 30px 20px 30px 20px;
  color: #fdcb46;
  font-size: 1.2em;
  font-weight: bold;
  position: sticky;
  bottom: 0;
  font-family: "Montserrat", sans-serif;
}
footer .wiggle {
  transition: transform;
}
footer .wiggle:hover {
  animation: wiggle 1.3s;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(2deg);
  }
  10% {
    transform: rotate(-2deg);
  }
  15% {
    transform: rotate(2deg);
  }
  20% {
    transform: rotate(-2deg);
  }
  25% {
    transform: rotate(2deg);
  }
  30% {
    transform: rotate(-2deg);
  }
  35% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  45% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  55% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(-2deg);
  }
  65% {
    transform: rotate(2deg);
  }
  70% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  85% {
    transform: rotate(2deg);
  }
  90% {
    transform: rotate(0deg);
  }
}
/* LEGAL MENTIONS*/
.legal-mention {
  padding: 80px 40px 80px 40px;
}

/* RESPONSIVE */
@media screen and (max-width: 1300px) {
  .heading__title {
    font-size: 2.5em;
  }

  .main-container__heading {
    font-size: 1.3em;
    padding-top: 40px;
  }
  .main-container__menu-card {
    width: 70%;
    padding: 30px 20px 30px 20px;
    margin-bottom: 140px;
  }
  .main-container__menu-card__menu-heading--2 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .main-container__menu-card__menu-heading #icone-top {
    font-size: 4.5em;
  }
  .main-container__menu-card__menu-heading__title {
    font-size: 3em;
    margin: 0;
    padding-top: 30px;
  }
  .main-container__menu-card__menu-heading__title--1 {
    color: #694145;
    font-family: "Devonshire", cursive;
  }
  .main-container__menu-card__menu-heading__title--2 {
    font-family: "Lobster Two", cursive;
  }
  .main-container__menu-card__menu-heading__title--3 {
    padding-left: 10px;
    font-size: 4em;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .main-container__menu-card__menu-heading__title--4 {
    padding-right: 10px;
    font-size: 5em;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .main-container__menu-card__menu-list--1 {
    font-family: "Kalam", cursive;
    color: #694145;
    margin: 0px 70px 0px 70px;
  }
  .main-container__menu-card__menu-list__subtitle {
    font-size: 1.7em;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .main-container__menu-card__menu-list__subtitle:after {
    content: "";
    width: 100%;
    border-bottom: solid 3px;
  }
  .main-container__menu-card__menu-list__subtitle--2 {
    font-size: 1.5em;
  }
  .main-container__menu-card__menu-list__subtitle--3 {
    font-size: 1.5em;
  }
  .main-container__menu-card__menu-list__subtitle--4 {
    font-size: 1.5em;
  }
  .main-container__menu-card__menu-list__group {
    padding-bottom: 30px;
  }
  .main-container__menu-card__menu-list__group--entree2 {
    padding-bottom: 60px;
  }
  .main-container__menu-card__menu-list__group--maindish2 {
    padding-bottom: 60px;
  }
  .main-container__menu-card__menu-list__group--sweets2 {
    padding-bottom: 200px;
  }
  .main-container__menu-card__menu-list__group--entree3 {
    padding-bottom: 60px;
  }
  .main-container__menu-card__menu-list__group--maindish3 {
    padding-bottom: 60px;
  }
  .main-container__menu-card__menu-list__group--sweets3 {
    padding-bottom: 200px;
  }
  .main-container__menu-card__menu-list__group--entree4 {
    padding-bottom: 60px;
  }
  .main-container__menu-card__menu-list__group--maindish4 {
    padding-bottom: 60px;
  }
  .main-container__menu-card__menu-list__group--sweets4 {
    padding-bottom: 200px;
  }
  .main-container__menu-card__menu-list__group .subtitle-border__image {
    padding-top: 25px;
    width: 30%;
    height: 10%;
  }
  .main-container__menu-card__menu-list__dish {
    font-size: 1.1em;
  }
  .main-container__menu-card__menu-list__dish--2 {
    font-size: 1.2em;
    margin: 0px 100px 0px 100px;
  }
  .main-container__menu-card__menu-list__dish--3 {
    font-size: 1.2em;
    margin: 0px 100px 0px 100px;
  }
  .main-container__menu-card__menu-list__dish--4 {
    font-size: 1.2em;
    margin: 0px 100px 0px 100px;
  }
  .main-container .note__heading {
    font-size: 2em;
  }
  .main-container .note #icone-bottom {
    margin-top: 55px;
    margin-right: 25px;
    font-size: 3em;
  }

  .upcoming {
    font-size: 1.5em;
  }

  footer {
    font-size: 1em;
  }
}
@media screen and (max-width: 1000px) {
  .main-container__menu-card__menu-list--1 {
    margin: 0px 30px 0px 30px;
  }
  .main-container__menu-card__menu-list__dish {
    font-size: 1em;
  }
  .main-container__menu-card__menu-list__dish--2 {
    font-size: 1em;
    margin: 0px 50px 0px 50px;
  }
  .main-container__menu-card__menu-list__dish--3 {
    font-size: 1em;
    margin: 0px 50px 0px 50px;
  }
  .main-container__menu-card__menu-list__dish--4 {
    font-size: 1em;
    margin: 0px 50px 0px 50px;
  }
}
@media screen and (max-width: 800px) {
  .main-container__menu-card__menu-heading #icone-top {
    font-size: 3.5em;
  }
  .main-container__menu-card__menu-heading__title {
    font-size: 2.5em;
  }
  .main-container__menu-card__menu-list--1 {
    margin: 0px 30px 0px 30px;
  }
  .main-container__menu-card__menu-list__subtitle {
    font-size: 1.5em;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .main-container__menu-card__menu-list__subtitle--2 {
    font-size: 1.3em;
  }
  .main-container__menu-card__menu-list__subtitle--3 {
    font-size: 1.3em;
  }
  .main-container__menu-card__menu-list__subtitle--4 {
    font-size: 1.3em;
  }
  .main-container__menu-card__menu-list__group .subtitle-border img {
    padding-top: 0;
  }
  .main-container__menu-card__menu-list__group--entree2 {
    padding-bottom: 40px;
  }
  .main-container__menu-card__menu-list__group--maindish2 {
    padding-bottom: 40px;
  }
  .main-container__menu-card__menu-list__group--sweets2 {
    padding-bottom: 100px;
  }
  .main-container__menu-card__menu-list__group--entree3 {
    padding-bottom: 40px;
  }
  .main-container__menu-card__menu-list__group--maindish3 {
    padding-bottom: 40px;
  }
  .main-container__menu-card__menu-list__group--sweets3 {
    padding-bottom: 100px;
  }
  .main-container__menu-card__menu-list__group--entree4 {
    padding-bottom: 40px;
  }
  .main-container__menu-card__menu-list__group--maindish4 {
    padding-bottom: 40px;
  }
  .main-container__menu-card__menu-list__group--sweets4 {
    padding-bottom: 100px;
  }
  .main-container__menu-card__menu-list__dish {
    font-size: 1em;
  }
  .main-container__menu-card__menu-list__dish .price {
    padding-left: 20px;
  }
  .main-container__menu-card__menu-list__dish--2 {
    font-size: 0.9em;
    margin: 0px 20px 0px 20px;
  }
  .main-container__menu-card__menu-list__dish--3 {
    font-size: 0.9em;
    margin: 0px 20px 0px 20px;
  }
  .main-container__menu-card__menu-list__dish--4 {
    font-size: 0.9em;
    margin: 0px 20px 0px 20px;
  }

  .upcoming {
    font-size: 1.3em;
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .main-container__menu-card {
    width: 80%;
  }
  .main-container__menu-card__menu-list__subtitle {
    font-size: 5.5vw;
  }
  .main-container__menu-card__menu-list__subtitle--2 {
    font-size: 4.5vw;
  }
  .main-container__menu-card__menu-list__subtitle--3 {
    font-size: 4.5vw;
  }
  .main-container__menu-card__menu-list__subtitle--4 {
    font-size: 4.5vw;
  }

  .upcoming {
    font-size: 1.2em;
    width: 70%;
  }
}
@media screen and (max-width: 350px) {
  footer {
    flex-direction: column;
    padding: 20px 80px 20px 80px;
  }
  footer #legal_mention {
    padding-bottom: 5px;
  }
  footer #contact {
    padding-top: 5px;
    border-top: solid 2px #fdcb46;
  }
}

/*# sourceMappingURL=style2.css.map */
