/* GENERAL */

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* COLOR */

$primary-color: #579c87;

$font-color: #fdcb46;

$menu-1_bg-color: #fcdfdb;

$menu-1-color: #694145;

$menu-2_bg-color: #fff5fe;

$menu-2-color: #c77412;

$menu-3_bg-color: #f9f9f9;

$menu-3-color:#0886fa;

$menu-4_bg-color: #fdfffd;

$menu-4-color: #72bf56;

/* TYPOGRAPHIE */



/* HEADING */

.heading{
    width: 100%;
    text-align: center;
    background-color: $primary-color;
    padding-top: 40px;
    padding-bottom: 40px;

    &__title {
        margin: 0;
        color: $font-color;
        font-size: 3em;
        font-family: 'Montserrat', sans-serif;
    }
}

/* HOMEPAGE */

.main-container {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: auto;
    
    &__menu-card {
    
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 400px;
        height: 600px;
        margin: 50px 0px 10px 0px;
        box-shadow: 0px 0px 5px 5px#d8d0d0;
            
        &--1 {
            background-color: $menu-1_bg-color;
        }

        &--2 {
            background-color: $menu-2_bg-color;
        }

        &--3 {
            background-color: $menu-3_bg-color;
        }

        &--4 {
            background-color: $menu-4_bg-color;
        }

        .menu {
            transform: scale(1);
            transition: transform 500ms;

            &:hover {        
                transform: scale(1.25);
                opacity: 50%;
            }

            &__heading {
             
                &__image {
                    height: 60px;
                }
             
                &__title {
                    font-size: 2em;
                    margin: 0;
                    
                    &--1 {
                        font-family: 'Devonshire', cursive;
                        color: $menu-1-color;
                    }
                    
                    &--2 {
                        font-family: 'Lobster Two', cursive;
                        color: $menu-2-color; 
                    }

                    &--3 {
                        font-family: 'Satisfy', cursive;
                        color: $menu-3-color;
                    }

                    &--4 {
                        font-family: 'Kaushan Script', cursive;
                        color: $menu-4-color;
                    }
                }
                
                &__subtitle {
                    font-size: 3em;
                    margin-top: 20px;
                    font-family: 'Kalam', cursive;
                    
                    &--1{
                        font-size: 2.5em;
                        text-transform: uppercase;
                        color: $menu-1-color;
                        font-family: 'Balsamiq Sans', cursive;
                    }

                    &--2 {
                        color: #c77412;
                        font-family: 'PT Serif', serif;
                    }

                    &--3 {
                        color: #0886fa;
                    }

                    &--4 {
                        color: #72bf56;
                    }
                }
            }
        }
    }

}

.upcoming {
    background-color: $primary-color;
    text-align: center;
    border: 2px solid $primary-color;
    border-radius: 8px;
    color: $font-color;
    font-size: 1.8em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    width: 450px;
    
    span {
        width: 5px;
        height: 5px;
        background-color: $font-color;
        border-radius: 50%;
        display: inline-block;
        animation: dots 1s ease-in-out infinite; 
    }

    #dot-2{
            animation-delay: 0.2s;
    }

    #dot-3{
            animation-delay: 0.4s;
    }

}

footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: $primary-color;
    padding: 30px 20px 30px 20px;
    color: $font-color;
    font-size: 1.2em;
    font-weight: bold;
    position: sticky;
    bottom: 0;
    font-family: 'Montserrat', sans-serif;

    .wiggle{
        transition: transform;
        &:hover{
            animation: wiggle 1s;
        }
    }
}

@keyframes wiggle {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(2deg);}
    20% {transform: rotate(-2deg);}
    30% {transform: rotate(2deg);}
    40% {transform: rotate(-2deg);}
    50% {transform: rotate(2deg);}
    60% {transform: rotate(-2deg);}
    70% {transform: rotate(2deg);}
    80% {transform: rotate(0deg);}
}

@keyframes dots{
    50%{
        opacity: 0;
        transform: scale(0.7) translateY(2px);
    }
}